############################
# Build
############################
[Bb]in/
[Oo]bj/

############################
# Visual Studio
############################
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

############################
# Rider / VS Code
############################
.idea/
.vscode/

############################
# NuGet
############################
packages/
*.nupkg

############################
# Logs
############################
*.log

############################
# Temporary files
############################
*.tmp
*.temp

############################
# Publish
############################
publish/

############################
# EF Core generated
############################
Migrations/*Snapshot.cs

############################
# Database transaction log
############################
*.ldf

############################
# Keep database file
############################
!*.mdf